/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px (16px is default browser value, I use 10px for easy calculations) = 62.5%; */
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: #fff;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 30px;
}

.questions_main-container {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions_item {
  width: 70%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.questions_input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.questions_input-item {
  background-color: yellowgreen;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.questions_input_item-container {
  background-color: salmon;
  display: flex;
}

input,
label {
  margin: 0.5rem;
}
