/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px (16px is default browser value, I use 10px for easy calculations) = 62.5%; */
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 30px;
}

.questions_main-container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions_item {
  width: 70%;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.questions_input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.questions_input-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

input,
label {
  margin: 0.5rem;
}

.btn_form {
  padding: 1rem;
  cursor: pointer;
  background-color: rgba(14, 234, 234, 0.845);
  color: rgba(128, 128, 128, 0.7);
  border: 0;
  transition: all 0.8s;
}

.btn_form:hover {
  border-radius: 50px;
  color: black;
  background-color: rgba(14, 234, 234, 0.845);
}

.hidden {
  display: none;
}
